{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">Services</h1>
        <div class="row text-center text-white">
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2xl mb-3 i-colo"></i>
                <h3>Python</h3>
                <p class="ss-color">Python Programming</p>

            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-js fa-2xl mb-3 i-colo"></i>
                <h3>JavaScript</h3>
                <p class="ss-color">JavaScript Language</p>

            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-2xl mb-3 i-colo"></i>
                <h3>SQL</h3>
                <p class="ss-color">MySQL</p>
            </div>
        </div>
        <div class="row text-center text-white">
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2xl mb-3 i-colo"></i>
                <h3>Python</h3>
                <p class="ss-color">Python Programming</p>

            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-js fa-2xl mb-3 i-colo"></i>
                <h3>JavaScript</h3>
                <p class="ss-color">JavaScript Language</p>

            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-2xl mb-3 i-colo"></i>
                <h3>SQL</h3>
                <p class="ss-color">MySQL</p>
            </div>
        </div>
        <div class="row text-center text-white">
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2xl mb-3 i-colo"></i>
                <h3>Python</h3>
                <p class="ss-color">Python Programming</p>

            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-js fa-2xl mb-3 i-colo"></i>
                <h3>JavaScript</h3>
                <p class="ss-color">JavaScript Language</p>

            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-2xl mb-3 i-colo"></i>
                <h3>SQL</h3>
                <p class="ss-color">MySQL</p>
            </div>
        </div>
    </div>
{% endblock content %}