{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
    <div class="container bg-secondary">
        <h1 class="mt-5">About Us</h1>
        <p class="lead">Welcome to our Django web application!</p>
        <p>This application is built using Django, a high-level Python web framework that encourages rapid development and clean, pragmatic design.</p>
        <p>Our team is passionate about creating innovative solutions to solve real-world problems. We strive to deliver high-quality software that meets the needs of our users.</p>
        <p>Thank you for visiting our site!</p>
    </div>
{% endblock content %}