<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Filter</title>
</head>
<body>
<h2>{{ dt | date:'SHORT_DATE_FORMAT' }}</h2>
<h3>{{ dt | time:'TIME_FORMAT' }}</h3>

<h3>
    floatformat When used without an argument, rounds a floating-point number to one decimal place but only if there's a decimal part to be displayed
</h3>
<h2>Example 5.1</h2>
<h3>{{ p1 }}</h3>
<h3>{{ p2 }}</h3>
<h3>{{ p3 }}</h3>

<h2>Example 5.2</h2>
<h3>{{ p1 | floatformat }}</h3>
<h3>{{ p2 | floatformat }}</h3>
<h3>{{ p3 | floatformat }}</h3>

<h2>Example 5.3</h2>
<h3>{{ p1 | floatformat:3 }}</h3>
<h3>{{ p2 | floatformat:3 }}</h3>
<h3>{{ p3 | floatformat:3 }}</h3>

<h2>Example 5.4</h2>
<h3>{{ p1 | floatformat:0 }}</h3>
<h3>{{ p2 | floatformat:0 }}</h3>
<h3>{{ p3 | floatformat:0 }}</h3>

<h2>Example 5.4</h2>
<h3>{{ p1 | floatformat:-3 }}</h3>
<h3>{{ p2 | floatformat:-3 }}</h3>
<h3>{{ p3 | floatformat:-3 }}</h3>
</body>
</html>